exportPattern("^[[:alpha:]]+")
import(glmnet)
import(dplyr)
import(multiROC)
import(caret)
import(pROC)
import(randomForest)
import(aricode)
import(GA)
import(funModeling)
import(tidyverse)
import(funModeling)
import(mclust)
import(penalizedSVM)
import(e1071)
import(Rcpp)
import(Boruta)


